.edit-buttons{
    display:flex;
    flex-directioN: row;
    gap: 5vw;
}

.padded-form {
    padding: 15px;
}

.kyrkogard-view-info-panel {
    background-color: rgb(233, 243, 235);
    padding: 10px;
    border-radius: 10px;
    margin-left: 0.2svw;
    width: 68.8vw;
    display: flex;
    flex-direction:row;
}

.kyrkogard-view-info-panel h2{
    padding: 0 10px;
}

.kyrkogard-view-info-panel input{
  width: 14vw;
  height: 15px;
  border: solid rgb(223, 233, 225);
  border-radius: 20px;
  margin-bottom: 0.5vh;
}

.button-panel-kyrkogard {
  display: flex;
  flex-direction: column;
  gap: 15px 0px;
  background: linear-gradient(to bottom, rgb(238,248,240), rgb(228,238,230));
  padding: 10px;
  height: 75vh;
  border-radius: 15px;
  width: 13vw;
}

.button-panel-kyrkogard button {
  width: auto;
  height: 5vh;
  padding: 0px 10px;
  background-color: rgb(243, 255, 245);
}

.button-panel-kyrkogard button:hover {
  background-color: rgb(243, 253, 245);
}

.kyrkogard-info-box {
    padding: 15px;
    display:flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgb(243, 253, 245);
    width: 20vw;
}

.kyrkogard-info-box p {
    margin-bottom: 0.5vh;
}

.kyrkogard-rules-field {
    margin-left: 1vw;
}

.kyrkogard-rules-field button {
  width: auto;
  height: 5vh;
  padding: 0px 10px;
  background-color: rgb(243, 255, 245);
}

.rule-box{
   background-color: rgb(243, 253, 245); 
   padding:0px 10px;
   margin-bottom: 1vh;
   width: 43vw;
   border-radius: 15px;
}

.add-rules-input button{
    margin-right: 0.3vw;
}

.add-rules-input textarea{
    width: 44.2vw;
    height: 10vh;
}

