.trace-container{
    background-image:
        linear-gradient(to left, var(--element-dark), var(--element));
    padding: 20px;
    overflow-y: auto;
    max-height: 78vh;
    border-radius: 15px;
}