.arende-card-ny-mobile {
  display: flex;
  border-radius: 8px;
  margin: 0px;
  padding: 10px;
  width:88vw;
  gap: 1vh;
  justify-content: space-between;
  background-image:
    linear-gradient(to left, var(--status-color-start), var(--status-color-end)),
    linear-gradient(to right, var(--arendeType-color-start) 0%, var(--arende-type-color-end) 45%, rgb(243,253,245) 45%, rgb(243,253,245) 100% ),
    linear-gradient(to bottom, rgb(243,253,245) 60px, rgb(233,243,235));

  background-size: 100% 35px, 100% 60px, 100% 100%;
  background-position: top, top;
  background-repeat: no-repeat, no-repeat;
}

.arende-card-ny-mobile:hover {
  filter: brightness(1.04);
  
  cursor:pointer;
}

.arende-card-ny-mobile h3:hover {
  text-decoration: underline;
  cursor:pointer;
}


.arende-card-ny-mobile h3{
  margin: 0; 
  padding: 0 0 10px 0;
  line-height: 1;
}

.arende-card-ny p{
  margin: 2px 0;
  line-height: 1.2;
}

.truncate {
    display:flex;
  white-space: nowrap;       /* Prevent text from wrapping to the next line */
  overflow: hidden;          /* Hide the text that exceeds the container */
  text-overflow: ellipsis;   /* Show "..." when text is truncated */
  max-width: 70vw;
}

.arende-typ-checkboxes-and-header{
  display:flex;
  flex-direction:row;
  gap: 6px;
  justify-content:space-between;
  width: 21vw;
}

.filter-panel{
    display:flex;
    flex-direction: column;
    background-color: aliceblue;
    padding:2vw;
    margin-bottom:1vh;
}

.filter-panel button{
    font-size: 12px;
    margin: 1vh;
}

.mobile-detail-view{
    display:flex;
    align-content:flex-start;
    width: 90vw;
    margin: 0;
    padding: 0;
    flex-direction:column;
}

.mobile-detail-view button{
    max-width: 25vw;
    font-size: 14px;
}

.mobile-info-box{
    text-align:left;
    line-height:1;
    padding: 5vw;
    background-color: aliceblue;
    margin-top: 2vh;
    font-size: 12px;
}

.comment-field-mobile{
    text-align: left;
    font-size: 12px;
    max-width: 90vw;
    overflow:wrap;
    
}

.comment-field-mobile pre {
  white-space: pre-wrap;  
  word-break: break-word; 
  padding: 5vw;
  background-color: aliceblue;
  margin-top: 2vh;
  font-size: 12px;
}