.leverans-body {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.leverans-header button {
    padding:6px;
    margin-bottom: 10px;
    background-color: rgb(233, 243, 235);
    border:1px solid rgb(100,100,200);
    margin-top: -5px;
}

.leverans-card{
    background-image:
    linear-gradient(to left, rgb(223,233,225), rgb(200,235,200)),
    linear-gradient(to bottom, rgb(243,253,245), rgb(233,243,235));
    background-size: 100% 40px, 100% 100%;
    background-position: top, top;
    background-repeat: no-repeat, no-repeat;

    padding: 10px;
    margin-top:2px;
    border-radius: 15px;
    width: 51.5vw;
}

.leverans-card:hover{
    filter: brightness(1.02);
}

.leverans-card h3 {
    margin: 0;
    margin-bottom: -5px; 
}

.leverans-card p {
    line-height: 1.2em;
    margin-bottom: 10px;
    margin-top: 14px;

}

.leverans-card h3:hover {
    text-decoration: underline;
    cursor:pointer
}

.search-menu-leverans {
    background-image: 
    linear-gradient(-45deg, rgb(243, 243, 245), rgb(243, 253, 245));
    padding: 10px;
    border-radius: 15px;
    max-width: 445px;
    width: 445px;
    height: 500px;
}

.leverantor-link{
    color: blue;
    cursor: pointer;
}

.leverantor-link:hover{
    text-decoration: underline;
}

.leverantor-text{
    display:flex;
    flex-direction:row;
    gap: 6px;
}