.kund-menu {
  display:flex;
  flex-direction:row;
}

.kund-to-arende-link:hover {
  text-decoration:underline;
  cursor: pointer;
}

.main-kund {
    display:flex;
    flex-direction:column;
    gap:6px;
    margin-left: 0.5vw;
    background-image:
      linear-gradient(to left, var(--element-dark), var(--element));
    padding: 10px;
    width: 67vw;
    min-height:445px;
    border-radius:15px;
}

.button-panel-kund {
  display: flex;
  flex-direction: column;
  gap: 15px 0px;
  background: linear-gradient(to bottom, var(--bg), var(--element));
  padding: 10px;
  height: 79.3vh;
  border-radius: 15px;
  
  width: 14vw;
}


.button-panel-kund button{
  width: auto;
  height: 30px;
  padding: 0px 10px;
  background-color: var(--surface);
}

.kund-info-grid {
  display:grid;
}