.add-stone-form{
    display:flex;
    flex-direction: column;
    background-color: rgb(233, 243, 235);
    padding: 20px;
    border-radius: 15px;
    margin-left: 1vw;
}

.add-stone-form-entry{
    display:flex;
    flex-direction:column;
}

.add-stone-form-entry input {
    margin-top: 0.5vh;
    border: 3px solid rgb(223, 233, 225);
    border-radius: 5px;
}

.add-stone-form-entry textarea{
    height: 15vh;
    width: 20vw;
    margin-top: 0.5vh;
    border: 3px solid rgb(223, 233, 225);
    border-radius: 5px;
}


.add-stone-form-buttons button{
    background-color: rgb(243, 253, 245);;
    margin: 10px 6px;
    padding: 5px 5px;
}