#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

.app {
  text-align: center;
  font-family: sans-serif;
}

.tab-bar {
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, #9de4a5);
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 15px;
}

.tab-button {
  background: none;
  border: none;
  padding: 2vh 5vw;
  margin: 0 1vw;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.tab-button:hover {
  background-color: #e0e0e0;
}

.tab-button.active {
  font-weight: bold;
  background-color:#ccf8d0;;
}

.tab-content {
  padding-top: 20px;
  text-align: left;
}

.email-feed {
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 20px;
  max-width: 600px;

  text-align: left;
}

.email-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 12px 16px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  cursor: pointer;
  transition: background 0.2s;
}

.email-header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 14px;
  color: #333;
}

.email-subject {
  font-weight: bold;
  margin-top: 4px;
  color: #222;
}

.email-content{
  width: 1000px;
  display:flex;
  flex-direction: row;
}

.email-preview {
  font-size: 14px;
  color: #466;
  margin-top: 2px;
}

.subject-and-create-new-form {
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #333;
}

.subject-and-create-new-form button {
  background-color: rgb(233, 243, 235);
  color: black;
  margin: 2px;
  border: none;
  padding: 5px 10px;
  font-size: 12px;
}

.form-container {
  display: flex;
  flex-direction: row;
  width: 100px; 
  margin-left : 100px   
}

.form-k {
  display: grid;
  grid-template-columns: 13vw 12vw 13vw; 
  gap: 0.1rem 5rem; 
  width: 75.4vw;
  background-color: rgb(233, 243, 235);
  padding: 20px;
  padding-right: 40px;
  border-radius: 15px;
  margin-bottom: 0.4vh;
}

.form-k button {
  margin: 10px 0px;
  padding: 5px 0px;
  border: solid black 1px;

}

.form-k h4 {
  padding: 0px;
  margin-bottom: 2px;
}

.form-k select{
    font-family: inherit;
}

.form-k input {
    border: solid rgb(223, 233, 225);
    border-radius: 20px;
}

.form-entry-k {
  display: flex;
  flex-direction: column;
}

.kyrkogard-card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  margin: 2px;
  margin-left:5px;
  padding: 10px;
  width: 650px;
  gap: 10px;
  justify-content: space-between;

  background-image:
    linear-gradient(to left, rgb(223,233,225), rgb(200,235,200)),
    linear-gradient(to bottom, rgb(243,253,245), rgb(233,243,235));

  background-size: 100% 40px, 100% 100%;
  background-position: top, top;
  background-repeat: no-repeat, no-repeat;
}

.kyrkogard-card h3{

  line-height:1.2em;
  padding: 0;
  margin: 0;
}

.kyrkogard-card p{
  line-height:1.2em;
  padding: 0;
  margin: 0;
}

.kyrkogard-card:hover {
  background-image:
    linear-gradient(to left, rgb(243,253,245), rgb(220,255,220)),
    linear-gradient(to bottom, rgb(243,253,245), rgb(233,243,235));
  cursor: pointer;
}

.kyrkogard-card h3:hover {
  text-decoration: underline;
}

.kyrkogard-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;   
  gap: 1rem;             
}

.del-button {
  background-color: rgb(233, 243, 235);
  color: black;
  border: none;
  padding: 2px 5px;
  font-size: 12px;
}

.del-button:hover {
  background-color: rgb(230, 0, 0);
  cursor: pointer;
}

.arende-card-ny {
  display: flex;
  border-radius: 8px;
  margin: 2px;
  padding: 10px;
  width: 60vw;
  max-width:60vw;
  gap: 10px;
  justify-content: space-between;
  background-image:
    linear-gradient(to left, var(--status-color-start), var(--status-color-end)),
    linear-gradient(to right, var(--arendeType-color-start) 0%, var(--arende-type-color-end) 16%, rgb(243,253,245) 16%, rgb(243,253,245) 100% ),
    linear-gradient(to bottom, rgb(243,253,245) 60px, rgb(233,243,235));

  background-size: 100% 35px, 100% 60px, 100% 100%;
  background-position: top, top;
  background-repeat: no-repeat, no-repeat;
}

.arende-card-ny:hover {
  filter: brightness(1.04);
  
  cursor:pointer;
}

.arende-card-ny h3:hover {
  text-decoration: underline;
  cursor:pointer;
}


.arende-card-ny h3{
  margin: 0; 
  padding: 0 0 10px 0;
  line-height: 1;
}

.arende-card-ny p{
  margin: 2px 0;
  line-height: 1.2;
}

.kund:hover{
    background-image:
    linear-gradient(to right, rgb(245, 250, 150), rgb(245, 240, 130)),
    linear-gradient(to bottom, rgb(243,253,245), rgb(233,243,235));
}

.kyrkogard {
  background-image:
    linear-gradient(to right,  rgb(243, 145, 228),  rgb(243, 100, 255)),
    linear-gradient(to bottom, rgb(243,253,245), rgb(233,243,235));
}

.kyrkogard:hover{
  background-image:
    linear-gradient(to left, rgb(243, 136, 228), rgb(253, 155, 248)),
    linear-gradient(to bottom, rgb(243,253,245), rgb(233,243,235));
}

.redo {
  background-image:
    linear-gradient(to right,  rgb(153, 245, 153),  rgb(123, 245, 200)),
    linear-gradient(to bottom, rgb(243,253,245), rgb(233,243,235));
}

.redo:hover{
  background-image:
    linear-gradient(to right,  rgb(173, 255, 173),  rgb(143, 255, 220)),
    linear-gradient(to bottom, rgb(243,253,245), rgb(233,243,235));
}

.search-arenden-menu{
  border : 1px solid black;
  background: rgb(223, 233, 225);
  padding: 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: left;
}

.arende-search-result{
  border-radius: 8px;
  margin: 2px;
  gap: 10px 10px;
  background: white;
  width: 200px;
}

.arenden-list {
  width: 230px;
  gap: 10px 10px;
  padding: 10px 20px;
  max-height: 200px;
  overflow-y: auto;
}

.arende-search-result p{
  color: blue;
  text-decoration: underline;
  cursor:pointer;
  font-weight: bold;
}

.search-button {
  margin-left: 100px;
  margin-top: 10px;
  padding: 3px 20px;
}

.search-inputs {
  width: 170px;
}

.searchbar-arende {
  display: flex;
  flex-direction:column;
  margin-bottom: 10px;
  background: linear-gradient(-45deg, rgb(243, 243, 245), rgb(243, 253, 245));
  padding: 2px;
  border-radius: 20px;
  font-weight:500;
  padding-bottom: 3.5vw;
}

.searchbar-arende h3 {
  padding-left: 15px;
}

.input-field-searchbar-arende{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30vw;
  padding: 1vw;
}

.input-field-searchbar-arende input{
  width: 20vw;
  height: 20px;
  border: solid rgb(223, 233, 225);
  border-radius: 20px;
}

.input-field-searchbar-arende label{
  padding-bottom:2px;
}

.searchbar-kund {
  display: grid;
  grid-template-columns: 150px 150px; /* Two equal columns */
  gap: 0.1rem 4rem; /* Space between form fields */
  margin-bottom: 10px;
}

.add-kyrkogard-button {
  margin-bottom: 10px;
  margin-right: 6px;
  background-color: rgb(233, 243, 235);
  border: solid black 1px;
}

.delete-button {
  background-color: rgb(233, 243, 235);
  color: black;
  border: none;
  padding: 2px 5px;
  font-size: 12px;
}

.delete-button:hover {
  background-color: rgb(230, 0, 0);
  cursor: pointer;
}

.delete-button-card {
  position: relative;
  background-color: rgb(233, 243, 235);
  color: black;
  border: none;
  top: -3px;
  padding: 2px 5px;
  font-size: 12px;
}

.delete-button-card:hover {
  background-color: rgb(230, 0, 0);
  cursor: pointer;
}

.arende-tab-contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arende-tab-contents-further{
    display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-button {
  background-color: rgb(233, 243, 235);
  color: black;
  border: none;
  margin: 2px;
  padding: 2px 5px;
  font-size: 12px;
}

.edit-button:hover {
  background-color: rgb(223, 233, 225);
  cursor: pointer;
}

.sideways {
  display: flex;
  flex-direction: row;
}

.arende-card-bottom {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  width: 440px;
}

.arende-card-ny .send-command {
  padding-top: 2px;
}

.arende-card-kund .send-command {
  padding-top: 10px;
}

.arende-card-kyrkogard .send-command {
  padding-top: 10px;
}

.arende-card-redo .send-command {
  padding-top: 10px;
}


.arende-card-info-entry{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
}

.icon {
  font-size: 20px;
}

.arende-card-header-and-button{
  display:flex;
  flex-direction:row;
  gap: 6px
}

.arende-card-header-and-button button{
  padding: 0 0 0 0;
  margin: 0;
  max-height: 5px;
  width: 10px;
  align-items: center;
}

.dropdown-arrow{
  font-size: 30px;
  margin-top: -5px;
}

.arende-card-filter-panel-create-button{
  padding:1vw;
  margin-bottom: 0.3vh;
  background-color: rgb(233, 243, 235);
  border:1px solid rgb(100,100,200);
}

.send-button{
  padding:3px;
  margin: 15px 3px 3px 3px;
  background:linear-gradient(to bottom, rgb(223, 233, 225));
}

.send-button-ny{
  padding:3px;
  margin: 10px 3px 3px 3px;
  background:linear-gradient(to bottom, rgb(223, 233, 225));
}

.truncate {
  white-space: nowrap;       /* Prevent text from wrapping to the next line */
  overflow: hidden;          /* Hide the text that exceeds the container */
  text-overflow: ellipsis;   /* Show "..." when text is truncated */
  width: 550px;
}

.oversikt-view {
  max-width: 90vw;
}

.greeting{
  margin: -0.1vh 0px;
  padding: 1vw;
  background:linear-gradient(to bottom, rgb(243,253,245), rgb(238, 248, 240));
  border-radius: 15px 15px 0 0;
  width: 30vw;
}

.pre {
  font-family: 'Arial', sans-serif; /* Change to your preferred font */
  width: 500px;
  font-size: 16px; /* Adjust the size */
  color: black; /* Change the text color */
  background-color: rgb(245, 253, 245); /* Optional: change background color */
  padding: 10px; /* Optional: add padding around the text */
  border-radius: 15px; /* Optional: rounded corners */
  white-space: pre-wrap; /* Optional: wrap long lines instead of breaking */
}

.feed{
  margin-left: -73px;
  width:700px;

}

.feed h3{
  margin: -5px 0px;
  padding: 10px;
  padding-bottom: 30px;
  padding-left: 17px;
  background:linear-gradient(to bottom, rgb(243,253,245), rgb(238, 248, 240));
  border-radius: 15px 15px 0 0;
}

.feed-card {
  padding:2px 10px;
}

.feed-container {
  margin-top: -0.1vh;
  border-radius:15px;
  background-color: rgb(238, 248, 240);
  height: 100vh;
  width: 52vw;
  margin-left: -6vw;
}

.feed-item-preview{
  display:flex;
  flex-direction:row;
  align-items: center;
  gap: 5px;
  padding: 0px;
  margin: 0px;
  line-height:0.1em;
}

.feed-item-container.new{
  background-color: rgb(228, 229, 238);
}

.ny-notifikation{
  color:rgb(125, 128, 221);
}

.feed-item-container{
  background-color: rgb(228, 238, 230);
  padding:10px;
  border-radius:10px;
}

.feed-item-container:hover{
  cursor:pointer;
}

.icon-feed{
  font-size:28px;
}

.icon-feed:hover{
  cursor:pointer;
}

.feed-card-arende-id:hover{
  text-decoration: underline;
  cursor: pointer;
}

.logout-button{
  padding: 0 1vw;
  height: 2vw;
  position: relative;
  left: -8vw;
  bottom: -2vh;
  background-color: rgb(228, 238, 230);
}

.kund-card{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  margin: 2px;
  padding: 10px;
  width: 53vw;
  gap: 10px;
  justify-content: space-between;

  background-image:
    linear-gradient(to left, rgb(223,233,225), rgb(200,235,200)),
    linear-gradient(to bottom, rgb(243,253,245), rgb(233,243,235));

  background-size: 100% 35px, 100% 100%;
  background-position: top, top;
  background-repeat: no-repeat, no-repeat;

}

.kund-card:hover{

  background-image:
    linear-gradient(to left, rgb(243,253,245), rgb(220,255,220)),
    linear-gradient(to bottom, rgb(243,253,245), rgb(233,243,235));
  cursor: pointer;
}

.kund-card h3:hover {
  text-decoration:underline;
}

.kund-card h3{

  line-height:1.2em;
  padding: 0;
  margin: 0;
}

.kund-card p{

  line-height:1.2em;
  padding: 0;
  margin: 0;
}

.kund-card-h-and-button {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  top: -3px;
}

.kund-search-menu {
  display:flex;
  flex-direction:row;
}

.searchbar-kund {
  display: flex;
  flex-direction:column;
  background: linear-gradient(-45deg, rgb(243, 243, 245), rgb(243, 253, 245));
  padding: 0px;
  border-radius: 20px;
  font-weight:500;
  max-width: 445px;
  padding-bottom:600px
}

.kund-results {
  max-height: 84.5vh;
  overflow-y: auto;
}

.searchbar-kund h3 {
  padding: 20px;
  margin: 0;
}

.input-field-searchbar-kund{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30vw;
  padding: 10px;
}

.input-field-searchbar-kund input{
  width: 20vw;
  height: 20px;
  border: solid rgb(223, 233, 225);
  border-radius: 20px;
}

.input-field-searchbar-kund label{
  padding-bottom:2px;
}


.scrollable-box {
  overflow-y: auto;
  height: 75vh;
  border-radius: 15px;
}

.dense-h4 {
  line-height: 1;
  padding: 0;
  margin:0; 
}

.kyrkogard-main{
  display:flex;
  flex-direction: row;
}

.searchbar-kyrkogard {
  display: flex;
  flex-direction:column;
  background: linear-gradient(-45deg, rgb(243, 243, 245), rgb(243, 253, 245));
  padding: 0px;
  border-radius: 20px;
  font-weight:500;
  width: 445px;
  padding-bottom:600px
}

.searchbar-kyrkogard h3 {
  padding: 20px;
  margin: 0;
}

.kyrkogard-list {
  overflow-y:auto;
  height:850px;
}

.load-more-button-kyrkogard {
  position:relative;
  left: 270px;
  top: 6px;
  background: rgb(243, 243, 245);
}

.header-and-dropdown {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.header-and-dropdown select {
  max-width: 20vw;
  margin-right: 4vw;
  margin-top: 1.2vw;
  max-height:2vw;
  background: rgb(243, 243, 245);
  border: 3px solid rgb(223, 233, 225);
  border-radius: 15px;
  font-family: inherit;
}

.kyrkogard-tab-buttons{
  padding: 0px;
  margin:0px;
  margin-bottom: -5px;
}

.kyrkogard-tab-buttons button {
  border: 1px solid rgb(223, 233, 225);
  border-radius: 15px;
  padding-right: 22px;
  padding-left: 22px;
}

.notification-feed-tabs{
  display:flex;
  flex-direction:row;
  gap: 10px;
}

.notification-tab{
  padding:1vw;
  margin:1vw;
  border-radius: 15px;
  background-color:rgb(223, 233, 225);
}

.notification-tab.active{
  filter: brightness(1.1);
  font-weight: 800;
}

.arkivera-kommentar{
  margin-left: 50px;
  font-weight: 600;
}

.arkivera-kommentar:hover{
  text-decoration: underline;
}

.arende-typ-checkboxes-and-header{
  display:flex;
  flex-direction:row;
  gap: 6px;
  justify-content:space-between;
  width: 21vw;
}

.arende-typ-checkboxes{
  display:flex;
  flex-direction:row;
  gap:6px;
}

.new-notification-dot {
  color: #3A7BFF;
  font-size: 5rem;
  line-height: 0;
}

.dot-wrapper {
  width: 10px;
  height: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load-more-button{
  position:relative;
  left: 25vw;
  top: 6px;
  background: rgb(243, 243, 245);
}
