.arende-card-filter-panel{
  background:linear-gradient(to bottom, rgb(243, 243, 245) 0%, rgb(243, 243, 245) 95%, rgb(200, 200, 200) 95%,  rgb(255,255,255) 100%);
  padding: 10px;
  border-radius: 15px 15px 0 0;
  margin-left: 2px;
  margin-bottom: 5px;
  gap: 2px;
  height: 9vh;
}

.arende-card-filter-panel button{
  padding: 1vh 1vw;
  background-color: rgb(233, 243, 235);
}

.arende-card-filter-panel select {
  background-color: rgba(233, 243, 235, 0);
  height: 16px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  margin-top: 0.8vh;
  border: 0px solid rgb(223, 223, 225)
}

.filter{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.filter-button{
  font-size: 16px;
  padding:0;
  margin:0;
  line-height: 1}