.form {
  display: grid;
  grid-template-columns: 150px 150px 150px; /* Two equal columns */
  gap: 0.1rem 2rem; /* Space between form fields */
  max-width: 525px;
  background-color: rgb(233, 243, 235);
  padding: 20px;
  padding-right: 40px;
  border-radius: 15px;
  max-height: 700px;
  margin-top: -40px;
}

.form button {
  margin: 10px 0px;
  padding: 5px 0px;
  border: solid black 1px;

}

.form h4 {
  padding: 0px;
  margin-bottom: 2px;
}

.new-stone-form-arenden {
  position: relative;
  top: -610px;
}

.new-stone-form-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
}

.tillbaka-till-oversikt-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  width: 200px;
  z-index: 10;
}

.tillbaka-till-oversikt-button:hover{
  color: white;
  background-color: rgb(230, 0, 0);
}

.select {
  max-width: 165px;
}

.form select{
    font-family: inherit;
}

.form input {
    border: solid rgb(223, 233, 225);
    border-radius: 20px;
}

.input-error {
    border: solid red;
    border-radius: 20px;
}

.GRO-checkbox {
  margin-top: 25px;
}

.gravsten-entries {
  padding-top: 3px;
}
.utsmyckning-entries{
    padding-top: 3px;
}