.form {
  display: grid;
  grid-template-columns: 13vw 12vw 13vw; 
  gap: 0.1rem 5rem; 
  width: 50vw;
  background-color: rgb(233, 243, 235);
  padding: 20px;
  border-radius: 15px;

}

.form button {
  margin: 10px 0px;
  padding: 5px 0px;
  border: solid black 1px;

}

.form h4 {
  padding: 0px;
  margin-bottom: 2px;
}

.new-stone-form-arenden {
  position: relative;
  top: -1px;
}

.new-stone-form-top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
}

.tillbaka-till-oversikt-button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem; 
  padding: 0.5rem 1rem;
  width: 200px;
  z-index: 10;
}

.tillbaka-till-oversikt-button:hover{
  color: white;
  background-color: rgb(230, 0, 0);
}

.select {
  max-width: 165px;
}

.form select{
    font-family: inherit;
}

.form input {
    border: solid rgb(223, 233, 225);
    border-radius: 20px;
}

.input-error {
    border: solid red;
    border-radius: 20px;
}

.GRO-checkbox {
  margin-top: 25px;
}

.gravsten-entries {
  padding-top: 3px;
}
.utsmyckning-entries{
    padding-top: 3px;
}

.skapaarende-kommentar{
  width: 48vw;
  height: 10vw;

}

.submit-button {
   grid-column: 1/1;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.input-field-checkbox {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}